{% extends "base.html" %}

{% block content %}
<h1>Список департаментов</h1>
<a href="/" class="btn btn-secondary">Обратно к работам</a>
{% if current_user.is_authenticated %}
    <a href="department" class="btn btn-secondary">Добавить департамент</a>
{% endif %}
{% for item in departments%}
<h2>Департамент # {{item.id}}</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название департамента</th>
        <th scope="col">Лидер</th>
        <th scope="col">Список участников</th>
        <th scope="col">Почта департамента</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{item.title}}</th>
        <td>{{item.user.surname}} {{item.user.name}}</td>
        <td>{{item.members}}</td>
        <td>{{item.email}}</td>
    </tr>
    </tbody>
</table>
{% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
<div>
    <a href="/department/{{ item.id }}" class="btn btn-warning">
        Изменить
    </a>
    <a href="/department_delete/{{ item.id }}" class="btn btn-danger">
        Удалить
    </a>
</div>
{% endif %}
{% endfor %}
{% endblock %}